In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('./WebCrawler/WebCrawler/spiders/bours.csv')
df

,cours,date,indice,maxVal,minVal,openVal,page,var
0,9.082,2022-10-26 15:16:50.200543,CREDIT AGRICOLE SA,9.142,9.044,9.111,1,NaN
1,132.020,2022-10-26 15:16:50.204601,AIR LIQUIDE,134.220,131.280,132.800,1,NaN
2,105.380,2022-10-26 15:16:50.206058,AIRBUS,105.880,104.300,104.360,1,NaN
3,19.980,2022-10-26 15:16:50.206845,ALSTOM,20.030,19.230,19.240,1,NaN
4,47.965,2022-10-26 15:16:50.207561,DANONE,48.565,47.685,48.455,1,NaN
5,47.320,2022-10-26 15:16:50.208224,BNP PARIBAS,47.650,47.030,47.445,1,NaN
6,15.280,2022-10-26 15:16:50.209104,CARREFOUR,15.595,15.175,15.535,1,NaN
7,173.050,2022-10-26 15:16:50.210658,CAPGEMINI,175.400,171.850,171.900,1,NaN
8,24.855,2022-10-26 15:16:50.211700,AXA,25.035,24.755,24.910,1,NaN
9,91.840,2022-10-26 15:16:50.212505,VINCI,92.270,91.080,91.620,1,NaN
10,34.505,2022-10-26 15:16:50.213223,DASSAULT SYSTEMES,35.795,34.455,35.340,1,NaN
11,164.950,2022-10-26 15:16:50.213951,ESSILORLUXOTTICA,166.950,164.000,164.850,1,NaN
12,28.380,2022-10-26 15:16:50.214865,BOUYGUES,28.400,28.020,28.190,1,NaN
13,13.014,2022-10-26 15:16:50.215654,ENGIE,13.130,12.974,13.030,1,NaN
14,65.000,2022-10-26 15:16:50.216386,EUROFINS SCIENTIFIC,65.220,64.020,64.820,1,NaN
15,23.230,2022-10-26 15:16:50.217081,SOCIETE GENERALE,23.470,23.195,23.375,1,NaN
16,125.700,2022-10-26 15:16:50.217817,THALES,126.000,122.150,122.250,1,NaN
17,472.200,2022-10-26 15:16:50.218523,KERING,476.250,470.250,472.750,1,NaN
18,78.220,2022-10-26 15:16:50.219296,LEGRAND,78.320,76.100,76.260,1,NaN
19,654.000,2022-10-26 15:16:50.220043,LVMH,663.600,651.100,659.400,1,NaN
20,24.690,2022-10-26 15:16:50.220745,MICHELIN,24.810,23.700,23.700,1,NaN
21,318.300,2022-10-26 15:16:50.221426,L'OREAL,322.900,318.100,321.400,1,NaN
22,9.433,2022-10-26 15:16:50.222138,ORANGE,9.514,9.378,9.420,1,NaN
23,57.240,2022-10-26 15:16:50.222833,PUBLICIS GROUPE,58.560,57.060,58.560,1,NaN
24,174.000,2022-10-26 15:16:50.223496,PERNOD RICARD,177.050,173.050,176.900,1,NaN
25,NaN,2022-10-26 15:16:50.368784,HERMES INTL,NaN,NaN,NaN,2,NaN
26,31.950,2022-10-26 15:16:50.371787,RENAULT,32.200,31.500,31.700,2,NaN
27,112.320,2022-10-26 15:16:50.373351,SAFRAN,112.740,110.100,110.200,2,NaN
28,83.020,2022-10-26 15:16:50.376240,SANOFI,83.260,82.330,82.700,2,NaN
29,41.765,2022-10-26 15:16:50.377061,SAINT-GOBAIN,42.105,41.405,41.425,2,NaN
30,13.546,2022-10-26 15:16:50.377817,STELLANTIS,13.608,13.400,13.496,2,NaN
31,34.065,2022-10-26 15:16:50.378823,STMICROELECTRONICS,34.670,33.930,34.195,2,NaN
32,132.540,2022-10-26 15:16:50.379726,SCHNEIDER ELECTRIC,133.660,131.300,131.380,2,NaN
33,273.100,2022-10-26 15:16:50.380618,TELEPERFORMANCE,275.600,271.100,274.000,2,NaN
34,52.670,2022-10-26 15:16:50.382171,TOTALENERGIES,53.370,52.410,53.000,2,NaN
35,22.510,2022-10-26 15:16:50.382984,VEOLIA,23.070,22.490,22.730,2,NaN
36,8.206,2022-10-26 15:16:50.383744,VIVENDI,8.296,8.164,8.296,2,NaN
37,44.200,2022-10-26 15:16:50.384479,WORLDLINE,44.740,43.300,43.670,2,NaN

In [9]:
df

,cours,date,indice,maxVal,minVal,openVal,var
0,9.090,2022-10-26 15:02:39.313725,CREDIT AGRICOLE SA,9.142,9.044,9.111,-0.04%
1,131.920,2022-10-26 15:02:39.316766,AIR LIQUIDE,134.220,131.280,132.800,-0.44%
2,105.380,2022-10-26 15:02:39.319412,AIRBUS,105.880,104.300,104.360,+1.27%
3,19.965,2022-10-26 15:02:39.320567,ALSTOM,20.030,19.230,19.240,+3.71%
4,47.950,2022-10-26 15:02:39.321419,DANONE,48.565,47.685,48.455,-1.31%
...,...,...,...,...,...,...,...
72,273.2,2022-10-26 15:09:04.633637,TELEPERFORMANCE,275.6,271.1,274.0,NaN
73,52.58,2022-10-26 15:09:04.634322,TOTALENERGIES,53.37,52.41,53.0,NaN
74,22.49,2022-10-26 15:09:04.635112,VEOLIA,23.07,22.49,22.73,NaN
75,8.212,2022-10-26 15:09:04.635820,VIVENDI,8.296,8.164,8.296,NaN
76,44.02,2022-10-26 15:09:04.636619,WORLDLINE,44.74,43.3,43.67,NaN