In [1]:
import pandas as pd

In [14]:
df = pd.read_csv('./WebCrawler/WebCrawler/spiders/bours.csv')
df

,cours,date,indice,maxVal,minVal,openVal,page,var
0,9.082,2022-10-26 15:16:50.200543,CREDIT AGRICOLE SA,9.142,9.044,9.111,1,NaN
1,132.02,2022-10-26 15:16:50.204601,AIR LIQUIDE,134.22,131.28,132.8,1,NaN
2,105.38,2022-10-26 15:16:50.206058,AIRBUS,105.88,104.3,104.36,1,NaN
3,19.98,2022-10-26 15:16:50.206845,ALSTOM,20.03,19.23,19.24,1,NaN
4,47.965,2022-10-26 15:16:50.207561,DANONE,48.565,47.685,48.455,1,NaN
...,...,...,...,...,...,...,...,...
72,273.1,2022-10-26 15:17:35.106583,TELEPERFORMANCE,275.6,271.1,274.0,2,-0.62
73,52.67,2022-10-26 15:17:35.107317,TOTALENERGIES,53.37,52.41,53.0,2,-1.09
74,22.51,2022-10-26 15:17:35.108047,VEOLIA,23.07,22.49,22.73,2,-0.97
75,8.206,2022-10-26 15:17:35.108763,VIVENDI,8.296,8.164,8.296,2,-1.37
76,44.2,2022-10-26 15:17:35.109439,WORLDLINE,44.74,43.3,43.67,2,0.98

In [9]:
df

,cours,date,indice,maxVal,minVal,openVal,var
0,9.090,2022-10-26 15:02:39.313725,CREDIT AGRICOLE SA,9.142,9.044,9.111,-0.04%
1,131.920,2022-10-26 15:02:39.316766,AIR LIQUIDE,134.220,131.280,132.800,-0.44%
2,105.380,2022-10-26 15:02:39.319412,AIRBUS,105.880,104.300,104.360,+1.27%
3,19.965,2022-10-26 15:02:39.320567,ALSTOM,20.030,19.230,19.240,+3.71%
4,47.950,2022-10-26 15:02:39.321419,DANONE,48.565,47.685,48.455,-1.31%
...,...,...,...,...,...,...,...
72,273.2,2022-10-26 15:09:04.633637,TELEPERFORMANCE,275.6,271.1,274.0,NaN
73,52.58,2022-10-26 15:09:04.634322,TOTALENERGIES,53.37,52.41,53.0,NaN
74,22.49,2022-10-26 15:09:04.635112,VEOLIA,23.07,22.49,22.73,NaN
75,8.212,2022-10-26 15:09:04.635820,VIVENDI,8.296,8.164,8.296,NaN
76,44.02,2022-10-26 15:09:04.636619,WORLDLINE,44.74,43.3,43.67,NaN